services:
  jekyll:
    build: .
    command: bash -lc "bundle install && bundle exec jekyll serve --host 0.0.0.0 --port 4000 --livereload --force_polling"
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/site
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache:
