<table>
  <h3>Conferenza Adriatic Mölkky A</h3>
    {% for row in site.data.SSR-Adriatic-A %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Adriatic Mölkky A: Gigi One 88

<table>
  <h3>Conferenza Adriatic Mölkky B</h3>
    {% for row in site.data.SSR-Adriatic-B %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Adriatic Mölkky B: Cioppy

<table>
  <h3>Conferenza Bellomolchi</h3>
    {% for row in site.data.SSR-Bellomolchi %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Bellomolchi: Miss Lunastorta

<table>
  <h3>Conferenza Jättälavoro Mölkky</h3>
    {% for row in site.data.SSR-Jattalavoro %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Jättälavoro Mölkky: Bender

<table>
  <h3>Conferenza Emiliana Mölkky</h3>
    {% for row in site.data.SSR-Emiliana %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Emiliana Mölkky: Despina

<table>
  <h3>Conferenza Balera Mölkky</h3>
    {% for row in site.data.SSR-Balera %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>

Ripescatə Balera Mölkky: Daria Lapidaria

<!--<table>
  <h3>Conferenza La Veritiera Mölkky II</h3>
    {% for row in site.data.SSR-Veritiera-II %}
      
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>-->