{% for conferenze in site.data.conferenze.items %}
    <hr>
    <h3>Conferenza {{conferenze.conferenza}}</h3>
    <p><strong>Zona di Gioco:</strong> {{conferenze.zona}}</p>

    <p><strong>Referente:</strong> 
        <a target="_blank" href="{{conferenze.contatto}}">{{conferenze.referente}}</a>
            {% if conferenze.referente_2 %}
                ,<a target="_blank" href="{{conferenze.contatto_2}}">{{conferenze.referente_2}}</a>
            {% endif %}
    </p>
    
    <p>Giocanti:</p>
    {% if conferenze.giocanti %}
        <ol>
            {% for giocanti in conferenze.giocanti %}
                <li>{{giocanti.nickname}}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <!-- {% if forloop.last %}{% else %}{% endif %}-->
{% endfor %}