<div>
  {% for conferenze in site.data.conferenze.items %}
    <hr>
    <h3>Conferenza {{conferenze.conferenza}}</h3>
    <p><strong>Zona di Gioco:</strong> {{conferenze.zona}}</p>

    <p><strong>Referente:</strong> 
        {% if conferenze.email %}
            <a  href="mailto:{{conferenze.email}}?subject=Info Conferenza Dopolavoro Mölkky">{{conferenze.referente}}</a>
        {% else %}
            <a target="_blank" href="{{conferenze.contatto}}">{{conferenze.referente}}</a>
                {% if conferenze.referente_2 %}
                    ,<a target="_blank" href="{{conferenze.contatto_2}}">{{conferenze.referente_2}}</a>
                {% endif %}
        {% endif %}
    </p>
    
    <p>Giocanti:</p>
    {% if conferenze.giocanti %}
        <ol>
            {% for giocanti in conferenze.giocanti %}
                <li>{{giocanti.nickname}}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <!-- {% if forloop.last %}{% else %}{% endif %}-->
{% endfor %}


<!-- {{ site.data.SSR }}

{% assign row = site.SSR[0] %}
{{ row | inspect }}


<table>
    {% for row in site.data.SSR %}
      {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
  
      {% tablerow pair in row %}
        {{ pair[1] }}
      {% endtablerow %}
    {% endfor %}
</table>-->
</div>