<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col--info">
        <p>20{{ site.time | date: '%y' }}® {{ site.title | escape }} {{ site.description | escape }}</p>
      </div>

      <div class="sponsor">
        <p class="sponsor-credits">Powered by <a href="https://www.tactic.it" target="_blank" rel="noopener">Tactic</a></p>
        <div class="sponsor-logos">
          {%- include tactic-logo.svg -%}
          {%- include molkky-logo.svg -%}
        </div>
      </div>

      <div class="footer-col footer-col--nav">
        <a class="footer-link" href="/contatti">contatti</a>
        <div class="footer-bottom">
          {%- include social.html -%}
        </div>
      </div>

    </div>
  </div>
</footer>
