<div class="icon-box">
  <img
    class="glowing"
    src="/assets/img/giostra-APP.png"
    alt="Icona dell'app de La Giostra Individuale"
    width="249"
    height="252"
    loading="lazy"
    decoding="async">
  <a href="https://apps.apple.com/it/app/la-giostra-individuale/id6741768625" rel="noopener">
    <img
      class="icon-app"
      src="/assets/img/app-store.png"
      alt="Scarica su App Store"
      width="200"
      height="66"
      loading="lazy"
      decoding="async">
  </a>
  <a href="https://play.google.com/store/apps/details?id=it.giostraindividuale.app&pcampaignid=web_share" rel="noopener">
    <img
      class="icon-app"
      src="/assets/img/g-play.png"
      alt="Disponibile su Google Play"
      width="200"
      height="66"
      loading="lazy"
      decoding="async">
  </a>
</div>
