---
---

@import "{{ site.theme }}";


@font-face {
  font-family: "Gothic";
  src: url("../fonts/serif-gothic-black-regular-webfont.ttf");
  src: url("../fonts/serif-gothic-black-regular-webfont.eot");
  src: url("../fonts/serif-gothic-black-regular-webfont.woff") format("woff"),
  url("../fonts/serif-gothic-black-regular-webfont.otf") format("opentype"),
  url("../fonts/serif-gothic-black-regular-webfont.svg") format("svg");
}

// VARIABLES
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;



// GENERAL
:root {
  --background: white;
  --color: black;
  --box-shadow: 10px 10px 5px black;
}

@media (prefers-color-scheme: dark) {

  :root {
    --background: black;
    --color: white;
    --box-shadow: 10px 10px 5px black;
  }
}

body{
  background-color: var(--background);
  color: var(--color);

	hr{
		color: var(--color);
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
    font-family: inherit;
    font-weight: bold;
	}
  p {
    font-weight: lighter
  }
	a{
		color: inherit;
		text-decoration: underline;
	}
	
	a:hover{
    color: inherit;
    text-decoration: line-through;
	}

	a:visited{
	    color: inherit;
	}
   
   ul{
    list-style-type:none !important;
    margin: 0;
    padding:0;

    li{
      list-style:none !important;
    }
   }
    
   button {
      border: 2px solid var(--color); 
      color:var(--color); 
      background-color: var(--background); 
      font-size: 120%; margin-left: 0px; 
      margin-top: 30px; 
      padding:0.5rem;
      border-radius: 0 !important;
    }

    button:hover{
       background-color: black;
       color: white;
    }
    
    button:visited {
       border: 2px solid black;
       background-color: transparent;
       color: inherit;
    }

    input{
      border: none;
      height: 30px;
      padding:3;
      border-radius: 3 !important;
      text-align: center !important;
    }
}


.glowing {
  width:205px;
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 33px #fff;
  -webkit-box-shadow: 0 0 33px #fff;
  box-shadow: 0px 0px 33px #fff;
  margin-left: auto;
  margin-right: auto;
}

.icon-box{
  width:205px;
  margin-left:auto;
  margin-right: auto;
}

.icon-app{
  display:inline;
  width:100px;
  margin-bottom: 30px;
}

//NAV

.wrapper-header {
 // max-width: -webkit-calc(1200px - (30px * 2));
 // max-width: calc(1200px - (30px * 2));
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.site-nav {
  background-color: var(--background);
  color: inherit;
  .page-link{
    color: inherit;
  }   
  .menu-icon > svg {
    fill: var(--color);
  }
}

.site-header {
  z-index: 9999;
  padding: 0.5rem 0;
  padding-bottom: 1rem;
  border-top:none;
  border-bottom: 0px solid var(--color);
  background-color: var(--background);
  min-height: 55.95px;
  position: sticky;
  top: 0;
  bottom: 0;
  img{
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: $screen-sm) {

  .site-header {
    padding: 0 0;
    padding-bottom: 1rem;
    background-color: var(--background);
    img{
      width: 150px;
      height: auto;
    }
  }
}

//trik per settare il breakpoint dell’hamburger menu
@media screen and (max-width: 900px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color:  var(--background);
    border: 1px solid var(--color);
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: var(--color);
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}


// HEADER
.main-header{

  .bg {
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  .bg-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (max-width: $screen-sm) {
  .header-container{
    padding: 2rem;
  
    .bg-home {
      width: 100%;
    }
  }
}



//CONTACT
.contact-wrapper{
  display: flex;
  justify-content: center;
  a{
    text-align: center;
    font-weight:bold;
    font-size: 7rem;
    word-break: break-all;
  }

  img{
    margin:0 0 3rem 3rem ;
    width: 7rem;
  }

}


//HOME
.star-home{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}

.has-dropcap:first-letter {
  font-family:"Gothic";
  float: left;
  font-size: 8rem;
  line-height: 0.65;
  margin: 0.1em 0.20em 0.1em 0;
}

@media only screen and (max-width: $screen-sm) {
  .has-dropcap:first-letter {
    font-family:"Gothic";
    float: left;
    font-size: 8rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.1em 0;
  }
}

.dynamic-elements {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 550px;

  .dinamic-2{
    position:absolute;
    padding:2rem;
    height:150px;
    .item-1{
      height: 55.95px;
      position: sticky;
      top: 0;
      bottom: 0;
      fill:red;
    }
  }

  .dinamic-3{
    margin-top: 150px;
    position:absolute;
    padding:2rem;
    height:300px;
    .item-1{
      height: 75px;
      position: sticky;
      top: 0;
      bottom: 0;
      fill:red;
    }
  }

  .dinamic-4{
    position:absolute;
    padding:2rem;
    height:500px;
    .item-1{
      height: 80px;
      position: sticky;
      top: 0;
      bottom: 0;
      fill:red;
    }
    
  }
  
}


.hided{
  display: none;
}
.displayed{
  display: block;
}

//ARCHIVIO

.centered-tite{
  text-align: center;
}

.archive{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

// POST
.post-content{
  min-height: 70vh;
  hr{
    margin: 2rem 0 ;
  }
}

.footnotes{
  font-size: 80%;
}

.reversefootnote{
  text-decoration: none;
}

//ISCRIZIONE
.form-product-container{
  width: 250px;
}

// DOCUMENTS
.document-list{
  li {
      list-style-type: none;
      background: url(/assets/img/strike.svg) no-repeat left center;
      background-size: 1.4rem;
      padding: 0 0 0.02rem 2rem;
  }


}

.documents-img{
  width: 200px;
  background-color: var(--color);
  padding: 0.3rem;
  border: 1px solid var(--color);
  border-radius: 3px;
}


// FOOTER
.site-footer {
  border-top: 1px solid var(--color);
  padding: 1rem 0;
}

.footer-col-wrapper{
  padding: 0;
  color: inherit;
  font-size: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-col{
  margin-top: 1rem;
  width: 40%;
  padding: 0;
}

.sponsor{
  flex-grow: 4; 
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  svg {
    width: 150px;
    fill: var(--color);
    margin-left:3rem;
  }
}

.footer-bottom{
  width: 20%;
  text-align: right;
}


@media only screen and (max-width: $screen-sm) {


  .footer-col-wrapper{
    padding: 0.8rem;
    color: inherit;
    font-size: 75%;
    align-items: flex-start;
   

      .footer-col{
        align-self: center;
       
        width: 60%;
        display: block;
        font-size: 90%;
        text-align: left;
      }
      
      .sponsor{
        align-self: center;
        width: 30%;
        display: block;
     
        
        svg {

          width: 80%;
          margin: auto;

          fill: var(--color);
      
        }
      }  
      
      .footer-bottom{
        width: 10%;
        text-align: center;
        align-self: center;
      }
    }
  }



//SPIN ANIMATION
.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  transform-origin: 50% 50%;

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.succes-emoji{
  font-size: 12rem;
}

//CONFERENZE
tbody{
  font-size: 55%;
}

tr:nth-child(odd) {

}
table td {
  color:white;
  background-color: black;
}
table tr:nth-child(even) {
  background-color: black;
}
table th{

  font-weight: bold;
}


// YT VIDE responsive 

.rwd-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}