---
layout: default
---
<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h3 class="post-title">Edizione 2023</h3>
  </header>

<div class="content grid-container">

    {{ content }}
    
<div id="grid">

<!-- -------------------------- BOX MARKUP -------------------------- -->     

{% for image in site.static_files %}    
    {% if image.path contains '/assets/img/gallery' %}

    <div class="media-box">
        <div class="media-box-image mb-open-popup" data-src="{{ site.baseurl }}{{ image.path }}">
            <div data-width="480" data-height="318" data-thumbnail="{{ site.baseurl }}{{ image.path }}" ></div>

            <div class="thumbnail-overlay">
                <div class="media-box-title"></div>
            </div>
        </div>

    </div>
    {% endif %}   
{% endfor %}

</div> <!-- #grid -->

<!--  ================== END MEDIA BOXES ================== -->

</div> <!-- #grid-container -->