<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {%- include head.html -%}

  <body>

    {%- if page.image -%}
      <header class="main-header">
        {%- include header.html -%}
           {%- if page.title == "La Giostra Individuale" -%}
            <div class="header-container">
              <img class="bg-home" src="/assets/img/{{page.image}}" alt="{{page.title}}">
            </div>
            {% else %}
            <img class="bg" src="/assets/img/{{ page.image }}" alt="{{page.title}}" />
          {% endif %}        
      </header>
    {%- else -%}
      {%- include header.html -%}
    {%- endif -%}
      <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
      </main>

    {%- include footer.html -%}

  </body>

</html>
