<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {%- include head.html -%}

  <body>

    {%- if page.image -%}
      <header class="main-header">
        {%- include header.html -%}
           {%- if page.title == "La Giostra Individuale" -%}
            <div class="header-container">
              <img class="bg-home" src="/assets/img/{{page.image}}" alt="{{page.title}}">
            </div>
            {% else %}
            <img class="bg" src="/assets/img/{{ page.image }}" alt="{{page.title}}" />
          {% endif %}        
      </header>
    {%- else -%}
      {%- include header.html -%}
    {%- endif -%}
    <div class="main-content">
      <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        
      </main>
      
    </div>

    {%- include footer.html -%}
    
    {% if page.layout == 'archive' %}
     <!-- jQuery 1.8+ -->
    	<script src="/plugin/components/jQuery/jquery-1.11.3.min.js"></script>
	
     <!-- Media Boxes JS files -->

    <script src="/plugin/components/Isotope/jquery.isotope.min.js"></script>
    <script src="/plugin/components/imagesLoaded/jquery.imagesLoaded.min.js"></script>
    <script src="/plugin/components/Transit/jquery.transit.min.js"></script>
    <script src="/plugin/components/jQuery Easing/jquery.easing.js"></script>
    <script src="/plugin/components/jQuery Visible/jquery.visible.min.js"></script>
    <script src="/plugin/components/Modernizr/modernizr.custom.min.js"></script>
    <script src="/plugin/components/Fancybox/jquery.fancybox.min.js"></script> <!-- only if you use Fancybox -->
    <script src="/plugin/js/jquery.mediaBoxes.dropdown.js"></script>
    <script src="/plugin/js/jquery.mediaBoxes.js"></script>

    	<script>
        $('#grid').mediaBoxes({
          filterContainer: '#filter',
          columns: 3,
          boxesToLoadStart: 16,
          horizontalSpaceBetweenBoxes: 20,
          verticalSpaceBetweenBoxes: 20,
        }); 
      </script>
    {% endif %}

  </body>

</html>
